.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Toppings CSS */
.form {
  border: 1px solid red;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.formWidth {
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid orange;
}

.size {
  width: 100%;
}

.sizeHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
}

.sauce {
  width: 100%;
}

.sauceHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
}

.toppings {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% auto;
}

.toppingsHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
  margin-bottom: 2%;
}

.toppingsCheckbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.topping {
  width: 48%;
}

.instrHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
  margin-bottom: 2%;
}