.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nav CSS */
.top {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.header {
  width: 98%;
  margin: 2% auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.nav {
  width: 25%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.navButton {
  border: 1px solid black;
  background: dimgray;
  color: orange;  
  padding: 1% 3%;
  width: 75px;
  border-radius: 10px;
  text-align: center;
}

/* Pizza Page CSS */
.pizza {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.pizzaHeader {
  font-size: xx-large;
  border: 1px solid black;
  width: 500px;
  margin: 0% auto;
}

.pizzaImg {
  width: 500px;
  height: 250px;
  border: 1px solid black;
}

/* Toppings CSS */
.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 5%;
}

.formWidth {
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;}

.size {
  width: 100%;
}

.sizeHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
}

.sauce {
  width: 100%;
}

.sauceHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
}

.toppings {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% auto;
}

.toppingsHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: bold;
}

.toppingsCheckbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.topping {
  width: 48%;
}

.instructions {
  width: 100%;
}

.instrHeader {
  background: dimgray;
  width: 98%;
  color: orange;
  padding: 1%;
  margin-bottom: 2%;
}

.instrBox {
  display: flex;
  flex-flow: row;
  width: 90%;
  height: 50px;
  margin: auto;
}

.quantity {
  margin: 3% auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}